@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #079992;
    font-family: 'Montserrat';
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction{
    width: 60%;
}

h1 {
    margin: 0;
    color: #ecf0f1;
    font-size: 4em;
}

h6 {
    margin: 0;
    color: #ecf0f1;
    font-size: 1em;
}

p{
    color: #ecf0f1;
}