@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #079992;
    font-family: 'Montserrat';
    color: #ecf0f1;
}

nav {
    position: fixed;
    background-color: #38ada9;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 15px;
    transition: 0.2s;
}

nav a:hover {
    font-size: 1.2em;
}

nav h2 {
    padding: 15px;
    margin-right: auto;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction {
    width: 60%;
}

h1 {
    margin: 0;
    font-size: 4em;
}

h6 {
    margin: 0;
    font-size: 1em;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75%;
}

.experiences-card{
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 3em;
}

.card{
    border: solid #38ada9;
    border-radius: .5em;
    padding: 15px;
    width: 45%;
}

.card a{
    padding: 5px;
    border: solid #38ada9;
    border-radius: .5em;
    text-decoration: none;
    color: #ecf0f1;
    transition: .2s;
}

.card a:hover{
    border: solid #ecf0f1;
}

h3{
    font-size: 1.5em;
    margin: 0;
}
