@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #079992;
    font-family: 'Montserrat';
    color: #ecf0f1;
}

body::-webkit-scrollbar {
    width: 10px;
    padding: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #ecf0f1;
    border-radius: 999em;
    width: 10px;
}

nav {
    position: fixed;
    background-color: #38ada9;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 15px;
    transition: 0.2s;
}

nav a:hover {
    font-size: 1.2em;
}

nav h2 {
    padding: 15px;
    margin-right: auto;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction {
    width: 60%;
}

.introduction p {
    width: 50%;
}

p{
    font-size: 1.2em;
}

b{
    color: #b8e994;
}

h1 {
    margin: 0;
    font-size: 4em;
}

h6 {
    margin: 0;
    font-size: 1em;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#experiences{
    background-color: #b71540;
}

.container {
    width: 75%;
}

.experiences-card{
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 3em;
}

.card{
    border: solid #38ada9;
    border-radius: .5em;
    padding: 15px;
    width: 45%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card a, .main a{
    padding: 5px;
    border: solid #38ada9;
    border-radius: .5em;
    text-decoration: none;
    color: #ecf0f1;
    transition: .2s;
    margin-top: auto;
}

.card a:hover, .main a:hover{
    border: solid #ecf0f1;
}

.card img{
    width: 75%;
    align-self: center;
}

h3{
    font-size: 1.5em;
    margin: 0;
}

#projects{
    background-color: #0c2461;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c2461;
}



/* details pages */

.experience-container{
    display: flex;
}

.main{
    margin-top: 10%;
    margin-left: 10%;
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}

.main h2{
    width: 100%;
    margin-top: 0;
    text-align: center;
}

.main h3{
    margin-top: 5vh;
}

.main h4{
    margin-bottom: 0;
}

.skills {
    padding-top: 10%;
    align-items: center;
    background-color: #b71540;
    width: 20%;
    position: fixed;
    right: 0;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
}

.main ul{
    margin-bottom: 0;
    margin-left: 0;
}

.column-paragraph{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.paragraph ul li{
    text-align: left;
}

img{
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.two-images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.two-images img{
    max-width: 45%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

li{
    margin-bottom: 20px;
    text-align: center;
}

.main a{
    margin-bottom: 20px;
}

#test{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

.loader{
    margin: 20px auto;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(236, 240, 241, 0.2);
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s infinite;
    display: none;
}

.loader-text{
    display: none;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.testarea{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}